<div  [hidden]="isSumarryVisible()">
    <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>shopping_cart</mat-icon>
          <mat-card-title> {{getSummary().totalQuantity}} {{getSummary().unit}}</mat-card-title>
          <mat-card-subtitle>{{getSummary().totalPrice}} Rs</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>
<span  [hidden]="!isSumarryVisible()">
    <h3 mat-dialog-title>Select Quantity</h3>
</span>
<mat-list class="quantity-list">
  <mat-list-item *ngFor="let category of data.categories">
      <h3 matLine> <mat-chip color="accent" selected [hidden]="getCount(category.productId, category.id) === 0">{{getCount(category.productId, category.id)}} Unit(s)</mat-chip><strong> {{category.quantity}}</strong> {{category.unit}} for  <strong>{{category.price}}</strong> Rs</h3>
    <p matLine>
        <button mat-button color="primary" (click)=add(category)>Add</button>
        <button mat-button color="warn" (click)="remove(category)">Remove</button>
    </p>
      <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
