<!-- <h1 mat-dialog-title>Select Quantity</h1> -->

<!-- <mat-card *ngFor="let category of data.categories">
    <button mat-stroked-button> {{category.quantity}} {{category.unit}} </button>
    <span class="spacer"></span>
    <button mat-mini-fab color="accent" aria-label="add product">
          <mat-icon>add</mat-icon>
    </button>
    <button mat-mini-fab color="accent" aria-label="add product">
          <mat-icon>remove</mat-icon>
    </button>

</mat-card> -->

<!-- <mat-card *ngFor="let category of data.categories">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title> {{category.quantity}} {{category.unit}}</mat-card-title>
    <mat-card-subtitle>{{category.price}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <button mat-button color="primary">Add</button>
    <button mat-button color="warn">Remove</button>
  </mat-card-actions>
</mat-card> -->

<div  [hidden]="isSumarryVisible()">
    <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>shopping_cart</mat-icon>
          <mat-card-title> {{getSummary().totalQuantity}} {{getSummary().unit}}</mat-card-title>
          <mat-card-subtitle>{{getSummary().totalPrice}} Rs</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>
<span  [hidden]="!isSumarryVisible()">
    <h3 mat-dialog-title>Select Quantity</h3>
</span>
<mat-list class="quantity-list">
  <mat-list-item *ngFor="let category of data.categories">
      <h3 matLine> <mat-chip color="accent" selected [hidden]="getCount(category.productId, category.id) === 0">{{getCount(category.productId, category.id)}} Unit(s)</mat-chip> {{category.quantity}} {{category.unit}} for  {{category.price}} Rs</h3>
    <p matLine>
        <button mat-button color="primary" (click)=add(category)>Add</button>
        <button mat-button color="warn" (click)="remove(category)">Remove</button>
      <!-- <span> {{category.price}} </span>
      <span class="demo-2"> --buy </span> -->
    </p>
      <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
