.example-full-width {
    width: 100%;
    padding: 0 15px;
  }

  mat-toolbar-row {
      padding: 0 15px 0 5px;
  }

  .app-icon {
      font-size: 20px;
      padding: 0 10px;
  }

  .full-scree {
    width: 60%;
  }

  .menu-icon {
    margin: 0 5px;
  }

  .app-name {
    padding: 0 10px;
  }