mat-vertical-stepper {
    position: fixed;
    top: 60px;
    height: 100%;
    overflow-y: auto;
}

.spacer {
  flex: 1 1 auto;
}

.checkout-page {
    position: fixed;
    top: 60px;
}

.cart-total {
    display: flex;
    margin: 5px;
}

.space {
    margin: 5px;
}
