<!-- Navbar (sit on top) -->
<!-- <div cla

  <!-- Navbar on small screens -->
  <!-- <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
    <a href="#portfolio" class="w3-bar-item w3-button" onclick="toggleFunction()">PORTFOLIO</a>
    <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
    <a href="#" class="w3-bar-item w3-button">SEARCH</a>
  </div>
</div> -->

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"> Pratideen </span>
    <div>
      <mat-form-field class="location" appearance="fill">
         <span matPrefix>
             <mat-icon aria-hidden="false" aria-label="Example home icon">location_on</mat-icon>
         </span>
        <mat-select>
          <mat-option *ngFor="let city of cities" [(value)]="selectedCity">
            {{city.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div >
        <span class="w3-center w3-text-white w3-large animate__animated animate__backInRight" style="overflow: true">Your one stop destination</span>
    </div>
  </div>
</div>
<div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220"><path fill="#3b304f" fill-opacity="1" d="M0,160L48,138.7C96,117,192,75,288,80C384,85,480,139,576,138.7C672,139,768,85,864,80C960,75,1056,117,1152,122.7C1248,128,1344,96,1392,80L1440,64L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
</div>

<div class="flex-container">
    <!-- <div class="card card-1" >
            <h3>{{bproduct}}</h3>
            <p>Explore {{bproduct}} categeories</p>
   </div> -->
       <mat-card class="example-card mat-elevation-z4" *ngFor="let bproduct of baseProducts">
         <mat-card-header>
           <div mat-card-avatar class="example-header-image"></div>
           <mat-card-title>{{bproduct}}</mat-card-title>
           <mat-card-subtitle>Wheat</mat-card-subtitle>
         </mat-card-header>
         <img mat-card-image src="/assets/images/flour.jpg" alt="wheat">
         <mat-card-content>
           <p>
            Select your prefere wheat brand. Choose from most popular variety of wheat from your area.
           </p>
         </mat-card-content>
         <mat-card-actions>
           <button mat-button color="warn">Buy</button>
           <button mat-button color="accent">Add to Cart</button>
         </mat-card-actions>
       </mat-card>


</div>
