/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  // background-image: url('/assets/images/flour-2.jpg');
 //  background: rgb(2,0,36);
 // background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

 background: #3b304f;
 // background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(42,9,121,1) 18%, rgba(0,131,255,1) 100%);
  min-height: 100%;
}

.location {
    width: 100%;
    padding: 10px;
    color: red
}



::ng-deep .mat-select {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    color: white
}

::ng-deep .mat-select-value {
    color: white
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // overflow-x: auto;
  // overflow-y: hidden;
}



.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
