<app-greeting></app-greeting>

<!-- <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="space-between center" style="padding: 10px" >
    
    <app-product-card 
        fxFlex.xs="100" 
        fxFlex.lg="30" 
        *ngFor="let product of products"
        [product]='product'></app-product-card>

        
   
</div> -->

<div fxLayout="column wrap" fxLayoutGap="10px" fxLayoutAlign="space-between streched" style="padding: 10px" >
    <button fxFlex mat-stroked-button color="accent">Wheat Flour</button>
    <button fxFlex mat-stroked-button color="accent">Wheat Flour</button>
    <button fxFlex mat-stroked-button color="accent">Wheat Flour</button>
    <button fxFlex mat-stroked-button color="accent">Wheat Flour</button>

        
   
</div> 
<!-- 
<div >
    <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile>
            <button mat-stroked-button color="accent">Wheat Flour</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-stroked-button color="accent">Gram Flour</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-stroked-button color="accent">Jowari Flour</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-stroked-button color="accent">Bajari Flour</button>
        </mat-grid-tile>
      </mat-grid-list>
       
       
</div> -->